@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
.App {
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
